<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yang.realworld.infrastructure.mybatis.mapper.ArticleMapper">


	<sql id="selectArticle">
    select
        A.id articleId,
        A.slug articleAlug,
        A.title articleTitle,
        A.description articleDescription,
        A.body  articleBody,
        A.user_id articleUserId,
        A.created_at articleCreatedAt,
        A.updated_at articleUpdateAt,
        T.id tagId,
        T.name tagName
    from articles A
    left join article_tags AT on A.id = AT.article_id
    left join tags T on T.id = AT.tag_id
  </sql>

	<insert id="insertTag">
    insert into tags (id,name)
    values (#{tag.id},#{tag.name})
  </insert>

	<insert id="insertArticleTagRelation">
    insert into article_tags (article_id, tag_id)
    values (#{articleId},#{tagId})
  </insert>

	<insert id="insert">
    insert into articles (id,slug,title,description,body,user_id,created_at,updated_at)
    values (
        #{article.id},
        #{article.slug},
        #{article.title},
        #{article.description},
        #{article.body},
        #{article.userId},
        #{article.createdAt, typeHandler=com.yang.realworld.infrastructure.mybatis.DateTimeHandler},
        #{article.updatedAt}
        )
  </insert>

	<update id="update">
		update articles
		<set>
			<if test="article.title != ''">title = #{article.title},</if>
			<if test="article.title != ''">title = #{article.slug},</if>
			<if test="article.description != ''">description = #{article.description},</if>
			<if test="article.body != ''">description = #{article.body},</if>
		</set>
		where id = #{article.id}
	</update>

	<select id="findById" resultMap="article">
		<include refid="selectArticle"/>
		where A.id = #{id}
	</select>

	<select id="findTag" resultType="java.lang.Boolean">
    select count(*)
    from tags
    where name = #{tagName}
  </select>

	<resultMap id="article" type="com.yang.realworld.core.article.Article">
		<id	property="id" column="articleId"/>
		<result property="userId" column="articleUserId"/>
		<result property="slug" column="articleAlug"/>
		<result property="title" column="articleTitle"/>
		<result property="description" column="articleDescription"/>
		<result property="body" column="articleBody"/>
		<collection property="tags" ofType="arraylist" resultMap="tag"/>
	</resultMap>

	<resultMap id="tag" type="com.yang.realworld.core.article.Tag">
		<id	property="id" column="tagId"/>
		<result property="name" column="tagName"/>
	</resultMap>

</mapper>